{% extends 'base.html.twig' %}

{% block title %}Réseravation{% endblock %}

{% block body %}
    <h1>Réservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartAt</th>
                <th>EndAT</th>
                <th>Prix</th>
             
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.startAt ? commande.startAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.endAT ? commande.endAT|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.prix }}</td>
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune donnée enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Nouvelle Réservation</a>
{% endblock %}
