{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block body %}
    <h1>Chambres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>DescriptionCourte</th>
                <th>DescriptionLongue</th>
                <th>Photo</th>
                <th>Prix</th>
           
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.titre }}</td>
                <td>{{ chambre.descriptionCourte }}</td>
                <td>{{ chambre.descriptionLongue }}</td>
           
    <td>         
  
  {% if chambre.photo %}
    <img src="{{chambre.photo}}">
  {% else %}
    <img src="{{ asset('images/default.jpg') }}" class="img-fluid w-10" alt="Chambre">
  {% endif %}
  </td>  
       <td>{{ chambre.prix }}$</td>
  
  
 


                
          
                

                <td>{{ chambre.createdAt ? chambre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_chambre_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chambre_new') }}">Ajouter une nouvelle chambre</a>
{% endblock %}
